// Collors
$dark: #343a40;
$white: #f2f2f2;
$gray: #c4c4c4;
$brand: #ff5e5e;

// Presets
$spacer: 1rem;
$spacers: (
  6: ($spacer * 3.5),
  7: ($spacer * 10),
  8: ($spacer * 15),
  9: ($spacer * 20),
  10: ($spacer * 25),
);
@import "../node_modules/bootstrap/scss/bootstrap";

// Basics settigs
* {
font-family: Roboto;
}

h1 h2 h3 {
color: $dark;
}

h2 {
    padding-top: 30px;
    width: 100%;
}

h3 {
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
}

p {
    width: 100%;
}

// Lists
li {
    font-size: 20px;
    margin-top: 10px;
}

// Menu
.menu {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    height: auto;
    font-weight: 500;

    a {
        color: $gray;
    
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
}

.menu__mobile {
    a {
        color: $gray;
    
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }    
}

.home {
    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 100%;
    }

    a {
        color: $gray;
        font-weight: 700;
    
        &:hover {
            text-decoration: none;
            color: $dark;
        }
    }
}


// Docs
.doc {
    height: 80%;
    text-align: justify;
    
    .introdution {
        width: 81%;
        @media (min-width: 640px) {
            width: 24.5%;
        }
    }
    
    .installation {
        width: 62%;
        @media (min-width: 640px) {
            width: 21.5%;
        }
    }
    
    .docs {
        width: 30%;
        @media (min-width: 640px) {
            width: 10.5%;
        }
    }
    
    img {
        margin-bottom: 5px;
        width: 95%;
    }

    button {
        margin-bottom: 20px;
    }

    a {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        list-style: none;
        margin-bottom: 15px;
        color: $dark;
    
        &:hover {
            list-style: none;
            color: $gray;
            text-decoration: none;  
        }
    }
}

// GitHub
.github {
    bottom: 10px;
    position: fixed;
    right: 10px;
}